@import "style/var";
.food-item-wrap{
    margin-top: 20px;
    .food-item-container{
        width: 100%;
        height: 115px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f9f9f9;
        box-shadow: 0 0px 11px 0px $food_shadow_color;
        .food-item-img-wrap{
            width: 80px;
            height: 80px;
            border-radius: 10px;
            margin: 0 20px;
            box-shadow: 0 0px 13px -4px $food_shadow_color;
            .food-item-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid #e9e9e9;
            }
        }
        .food-item-name-wrap{
            width: 110px;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 65px;
            .food-item-name{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .calories-count-wrap{
            width: 130px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 35px;
            gap: 7px;
            .calories-count{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .caloties-item-title{
                    font-size: $text-font;
                }
                .caloties-item-title::after{
                    content: ':';
                }
                #total-calories-title{
                    font-weight: 600;
                }
                .caloties-item-data{
                    font-size: 14px;
                    font-weight: 400;
                }
                #total-calories{
                    font-weight: 600;
                }
            }
        }
        .calories-input-wrap{
            width: 120px;
            height: 60px;
            display: flex;
            @include obj-center;
            margin-right: 30px;
            position: relative;
            .calories-input{
                padding: 0 10px;
                font-size: 17px;
                font-weight: 600;
                width: 58px;
                height: 50%;
                margin-right: 10px;
                border: 1px solid #e9e9e9;
                box-shadow: 0 0px 20px -7px $food_shadow_color;
                border-radius: 6px;
            }
            .calories-input-desc{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
        .alert-validate::before{
            right: -30px;
            top: 50%;
        }
        .alert-validate::after {
            right: -25px;
            top: 50%;
        }
        .calories-add-btn-wrap{
            width: 75px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            .calories-add-btn{
                width: 50px;
                height: 50px;
                border: 1px solid #e9e9e9;
                border-radius: 50%;
                background-color: white;
                font-family: Verdana, FontAwesome;
                font-size: 25px;
                box-shadow: 0 0px 20px -7px $food_shadow_color;
                transition: all .3s;
            }
            .calories-add-btn:active{
                background-color: $food_shadow_color;
            }
        }
        .calories-delete-btn-wrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            margin-right: 20px;
            .calories-btn{
                width: 80px;
                height: 35px;
                border-radius: 10px;
                font-family: Verdana, FontAwesome;
                font-size: 18px;
                &.change{
                    @include save_btn_shadow;
               }
               &.delete{
                background-color: #f8acac;
                box-shadow: 0 0px 16px -3px #f8acac;
               }
            }
        }
    }
}