.container-user{
    width: 1050px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .account-charts-wrap{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0px 20px -3px #b7b7b7;
        .chart-data-container{
            width: 300px;
            height: 275px;
            .canvas-title{
                font-size: 20px;
                text-align: center;
            }
            .chart-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                #account-calories-chart{
                    width: 240px !important;
                    height: 220px !important;
                }
                #protein-chart-account{
                    width: 300px !important;
                    height: 200px !important;
                }
                #index-chart-account{
                    width: 205px !important;
                    height: 190px !important;
                }
                #fat-chart-account{
                    width: 175px !important;
                    height: 165px !important;
                }
                .label-wrap{
                    width: 80%;
                    margin-top: 10px;
                    text-align: center;
                    .chart-label{
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.4;
                        .label-fullDef{color: purple;}
                        .label-def{color: blue}
                        .label-normal{color: green;}
                        .label-middle{color: yellowgreen;}
                        .label-bad{color:orange}
                        .label-very-bad{color: rgb(255, 0, 13);}
                        .label-so-bad{color: rgb(128, 2, 2);}
                    }
                }
            }
        }
    }
    .progres-chart-user{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0px 20px -3px #b7b7b7;
        margin-top: 50px;
        .chart-data-container{
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .canvas-title{
                font-size: 24px;
                text-align: center;
                margin: 0;
            }
            #progress-account-chart{
                margin-top: 10px;
                height: 340px !important;
                width: 680px !important;
            }
        }
    }
}