@import "style/var";
.food-wrap{
    width: 100%;
    height: auto;
    margin: 75px 0;
    .food-container{
        width: 1300px;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .food-chart-wrap{
        width: 400px;
        height: 750px;
        background-color: white;
        border-radius: 20px;
        position: sticky;
        top: 75px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .chart-data-container{
            width: 80%;
            height: 265px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            position: relative;
            .save-change-btn{
                position: absolute;
                bottom: -145px;
                left: -20px;
                
                width: 130px;
                height: 30px;
                border-radius: 10px;
                @include save_btn_style;
            }
            .canvas-title{
                font-size: 22px;
                font-weight: 700;
                margin: 10px 0;
                text-align: center;
            }
            .chart-wrapper{
                #calories-chart-food{
                    width: 250px !important;
                    height: 250px !important;
                }
                #protein-chart-food{
                    width: 300px !important;
                    height: 300px !important;
                }
            }
        }
    }
    .food-select-wrap{
        width: 900px;
        height: fit-content;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 75px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .food-pagination-wrap{
            width: 100%;
            @include obj-center;
            flex-direction: row;
            margin-bottom: 20px;
            .page-count{
                width: 20px;
                text-align: center;
                margin: 0 20px ;
                font-size: 20px;
            }
            .btn-pag{ 
            font-size: 17px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            width: 60px;
            display: flex;
            height: 30px;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            cursor: pointer;
            }
        }
        .food-select-container{
            width: 700px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            @include food_shadow;
            border-radius: 10px;
            position: relative;
        }
    }
    .food-element-wrap{
        width: 700px;
        margin: 20px 0;
    }
}
.food-wrap::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../assets/preloader-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
  }