@import "style/var";
.food-select-item-wrap{
    width: 190px;
    margin-right: 20px;
    .food-select-item{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    }
}
.search-food-item-wrap{
    width: 330px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .search-food-input{
        width: 100%;
        font-size: 17px;
        padding: 5px 10px;
        @include food_shadow;
    }
    .find-btn{
        font-family: Verdana, FontAwesome;
        position: absolute;
        right: 15px;
        font-size: $text-font;
        color:#b7b7b7;
        cursor: pointer;
    }
    .search-food-input:focus + .find-btn{
        color: black;
    }
}
.plate-wrap{
    width: 100px;
    height: 100%;
    @include obj-center;
    .plate-btn{
        width: 48px;
        height: 48px;
        margin-right: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .plate-count{
        font-size: 22px;
        font-weight: 700;
        font-family: cursive;
        color: #6dcb6d;
    }
}