@import "normolize.scss";
$first-color: #45da48;
$second-color: #e1e138;

$base-text-color: #151515;
$base-link-color: #1daaff;
$base-hover-color: darken($base-link-color, 20);

$profile-card-size: 300px;
$profile-avatar-size: 150px;

@mixin obj-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#root{
    width: 100%;
}
select{
    background-color: transparent;
}
header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background: rgb(141,210,133);
    background: -moz-radial-gradient(circle, rgba(141,210,133,0.36458333333333337) 0%, rgba(197,233,4,0.3477766106442577) 100%);
    background: -webkit-radial-gradient(circle, rgba(141,210,133,0.36458333333333337) 0%, rgba(197,233,4,0.3477766106442577) 100%);
    background: radial-gradient(circle, rgb(143, 201, 135) 0%, rgb(222, 236, 140) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8dd285",endColorstr="#c5e904",GradientType=1);
    
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    
    z-index: 10;
}

