
.chart-container{
    display: flex;
    flex-direction: column;
    .chart-calories-wrap, .chart-index-wrap{
        width: 600px;
        height: 400px;
        margin: 0 0 20px 50px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 47px 55px 33px 55px;

        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

        .canvas-chart-index-wrap, .canvas-chart-calories-wrap{
            display: flex;
            flex-direction: row;
            .weight-index-chart-wrap, .calories-chart-wrap{
                h1{
                    font-size: 20px;
                }
                .chart-wrap{
                    width: 210px;
                }
            }
        }
    }
}
.canvas-container{
    width: 80%;
    margin: 0 auto 0 auto;
    .canvas-title{
        font-size: 10px;
        text-align: center;
    }
    .chart-wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        .chart-label{
            font-size: 22px;
            font-weight: 700;
            text-align: center;
        }
    }
}