.canvas-container{
    width: 80%;
    margin: 0 auto 0 auto;
    .canvas-title{
        font-size: 20px;
        text-align: center;
    }
    .chart-wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        .chart-label{
            font-size: 22px;
            font-weight: 700;
            text-align: center;
        }
    }
}