
.chart-container{
    display: flex;
    flex-direction: row;
    .column-chart-container{
        display: flex;
        flex-direction: column;
        #calories-wrap{
            margin-top: 35px;
            height: 350px;
        }
        .chart-progres-wrap{
            .canvas-chart-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                .chart-data-container{
                    width: 65%;
                }
            }
        }
        .chart-wrap, .chart-progres-wrap{
            width: 820px;
            display: flex;
            margin: 0 0 20px 30px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px 20px 10px 20px;
            box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

            .canvas-chart-wrap{
                display: flex;
                flex-direction: row;
                .chart-data-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0px 20px 52px -8px rgba(0, 0, 0, 0.15);
                    margin: 10px;
                    padding: 15px;
                    position: relative;
                    .count-calories-account-btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.822);
                        position: absolute;
                        bottom: 5px;
                        left: 6px;
                        width: 90px;
                        height: 30px;
                        border-radius: 10px;
                        font-size: 12px;
                        background-color: #bcf9ce;
                        box-shadow: 0 0px 16px -3px #bcf9ce;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    .canvas-title{
                        font-size: 20px;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .chart-wrapper{
                        width: 210px;
                    }
                }
            }
        }
    }
    .row-chart-container{
        #index-wrap{
            margin-top: 35px;
            height: 715px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .chart-wrap{
            width: 300px;
            margin: 0 0 20px 30px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px;
            box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

            .canvas-chart-wrap{
                display: flex;
                flex-direction: column;
                .chart-data-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0px 20px 52px -8px rgba(0, 0, 0, 0.15);
                    margin: 10px;
                    padding: 15px;
                    
                    .canvas-title{
                        font-size: 20px;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .chart-wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 210px;
                        .label-wrap{
                            width: 155px;
                            margin-top: 5px;
                            text-align: center;
                            .chart-label{
                                
                                font-weight: 600;
                                line-height: 1.4;
                                .label-fullDef{color: purple;}
                                .label-def{color: blue}
                                .label-normal{color: green;}
                                .label-middle{color: yellowgreen;}
                                .label-bad{color:orange}
                                .label-very-bad{color: rgb(255, 0, 13);}
                                .label-so-bad{color: rgb(128, 2, 2);}
                            }
                        }
                    }
                }
            }
        }
    }
}
.canvas-container{
    width: 80%;
    margin: 0 auto 0 auto;
    .canvas-title{
        font-size: 10px;
        text-align: center;
    }
    .chart-wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        .chart-label{
            font-size: 22px;
            font-weight: 700;
            text-align: center;
        }
    }
}

@media  (min-width: 1440px) and (max-width:1820px  ){
    #main-wrapper{
        margin-top: 35px !important;
    }
    .container-login{
        align-items: flex-start;
        .wrap-main{
            margin-top: 35px;
        }
    }
    #myChart{
        width: 190px !important;
        height: 190px !important;
    }
    .canvas-title{
        font-size: 18px !important;
    }
    .chart-container{
        flex-direction: column;
        
        .row-chart-container{
            #index-wrap{
                width: 820px;
                height: 350px;
                margin-top: 0;
                #canvas-index-wrap{
                    flex-direction: row;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width:1430px){
    .container-login{
        flex-wrap: nowrap !important;
    }
    #main-wrapper{
        min-width: 300px !important;
        max-width: 420px !important;
        padding: 25px 30px 33px 30px !important;
        margin-top: 35px !important;
    }
    .column-chart-container{
        width: 650px;
        margin: 0 0 0px 20px;
            .chart-progres-wrap{
                width: 650px !important;
                padding: 0 !important;
                margin: 0 0 20px 10px !important;
            }
            #calories-wrap{
                width: 650px;
                padding: 0;
                margin: 0 0 20px 10px;
                .chart-data-container{
                    padding: 0;
                    .chart-wrapper{
                        width: 190px;
                        display: flex;
                        justify-content: center;
                    }
                }
                
            
        }
    }
    
    
    .container-login{
        align-items: flex-start;
        .wrap-main{
            margin-top: 35px;
        }
    }
    #myChart{
        width: 175px !important;
        height: 175px !important;
    }
    .canvas-title{
        font-size: 16px !important;
    }
    .chart-container{
        flex-direction: column;
        
        .row-chart-container{
            #index-wrap{
                width: 650px;
                height: 350px;
                margin-top: 0;
                #canvas-index-wrap{
                    flex-direction: row;
                }
            }
        }
    }
}